/*  =HOMEPAGE
----------------------------------------------------------------------------- */
.home-products {
    text-align: center;
}
.list-item{
    display: inline-block;
    width: 48%;
    margin: 1%;
    background: #f8f8f8;
    padding: 1em;
    opacity: 0.8;
    border: 1px solid transparent;
    transition: all 250ms ease;
}
.list-item:hover{
    border-color: #fad4f7;
}
.list-item img{
    height: 110px;
    transform: scale(0.9);
    transition: 150ms ease-out 0s;
}
.list-item:hover img{
    transform: scale(1);
}
.list-item a{
    text-decoration: none;
}
.list-title{
    font-weight: bold;
    height: 36px;
}

/*TABLET*/
@media (min-width: 40em) {  /* 640px */
    .list-item{
        width: 31%;
    }
}

/*DESKTOP*/
@media (min-width: 60em) {  /* 960px */
    .list-item{
        width: 23%;
    }

}