<div class="breadcrumb">
    <a href="#">Accueil</a> >
    Formations {{category}}</a>
</div>

<h2>{{numberOfTrainings}} formations {{category}} dans notre catalogue</h2>

<p>
    Filtrer par nom
    <input type="text" placeholder="" ng-model="searchText.title">
</p>
<ul class="category-list">
    <li class="category-list-item" ng-repeat="training in trainings | orderBy:'title' | filter:searchText">
        <a href="#/formation/{{training.vodeclic_id}}">
            <h2 class="training-title">
                <img class="training-logo" ng-src="{{training.image_logo_url}}" alt="{{training.title | htmlToPlaintext}}">
                {{training.title}}
            </h2>
        </a>
    </li>
</ul>
